<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarScroll">
        <a class="navbar-brand" routerLink="/">Delivery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cardapio">Cardápio</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" name="pesquisa" type="search" placeholder="Pesquisar" aria-label="Pesquisar"/>
          <button class="btn btn-outline-success" type="submit">Pesquisar</button>
        </form>
      </div>
    </div>
  </nav>
</header>
