<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delivery | Cardápio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
    <header th:replace="~{fragments/general.html :: header}"></header>
    <div id="cardapioDiv">
        <div th:if="${produtos != null}" class="row row-cols-1 row-cols-md-3 g-4">
            <div th:each="prod : ${produtos}" class="col">
                <div class="card">
                    <img th:src="@{'/assets/' + ${prod.imagem}}" class="card-img-top" alt="#" src="#">
                    <div class="card-body">
                        <h5 th:text="${prod.nome}" class="card-title"></h5>
                        <p class="card-text">
                            <ul>
                                <li th:each="ingrediente : ${prod.ingredientes}">
                                    <p th:text="${ingrediente.key.nome} + ' ' + ${ingrediente.value} + ${ingrediente.key.unidadeMedida}"></p>
                                </li>
                            </ul>
                            <p th:text="'R$ ' + ${prod.preco}"></p>
                        </p>
                        <!--<p th:text="'R$ ' + ${prod.preco}" class="card-text"></p>-->
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>